# 2019年1月の牌譜を使ったトレーニング

In [1]:
import numpy as np
import pandas as pd
from pycaret.classification import *
import os

In [36]:
train_df = pd.read_csv('data/201901.csv')
train_df = train_df.drop('Unnamed: 0', axis=1)
train_df = train_df[train_df.game == 7]
train_df = train_df.drop(['east_end', 'north_end', 'south_end', 'west_end', 'game'], axis=1)

In [8]:
# train_df = pd.read_csv('score.csv', header=None)
# # train_df = train_df[train_df.game == 7]
# # train_df = train_df.drop(['east_end', 'north_end', 'south_end', 'west_end', 'game'], axis=1)
# train_df

         0    1    2    3    4    5    6    7   8     9     10    11  12  13
0       250  250  250  250  382  216  268  134   1  0.00  0.00  0.00   2   0
1       245  261  247  247  382  216  268  134   1 -0.16 -0.02 -0.02   2   1
2       235  310  247  208  382  216  268  134   1 -0.75 -0.12  0.27   2   1
3       325  220  247  208  382  216  268  134   1  1.05  0.78  1.17   2   2
4       325  220  272  183  382  216  268  134   1  1.05  0.53  1.42   2   2
...     ...  ...  ...  ...  ...  ...  ...  ...  ..   ...   ...   ...  ..  ..
206607  200  440  120  240  220  420  120  240   1 -2.40  0.80 -0.40  13   3
206608  250  250  250  250  357  384  105  154   1  0.00  0.00  0.00   7   0
206609  250  340  160  250  357  384  105  154   1 -0.90  0.90  0.00   7   1
206610  265  325  145  255  357  384  105  154   1 -0.60  1.20  0.10   7   2
206611  357  304  105  234  357  384  105  154   1  0.53  2.52  1.23   7   3

[206612 rows x 14 columns]

In [37]:
train_df

        east  north  south  west  game_result
10       264    141    258   337           14
37       301    205    116   378           13
38       296    220    111   373           13
54       472    183    326    19            7
62       393    259    178   170            4
...      ...    ...    ...   ...          ...
151490   187     61    371   381           23
151502   267    289    328   116           15
151511   191    173    324   312            9
151512   165    251    298   286            9
151513   165    274    275   286            9

[14009 rows x 5 columns]

In [4]:
# df = df[df['round'] == 0]
# df = df.reindex(np.random.permutation(df.index)).reset_index(drop=True)
# # 分割
# ratio = 0.8
# p = int(ratio * len(df)) # 分割点を計算
# train_df = df.iloc[:p, :]
# test_df = df.iloc[p:, :]

In [5]:
train_df.describe()

               east         north         south          west   game_result
count  14009.000000  14009.000000  14009.000000  14009.000000  14009.000000
mean     250.984867    244.826255    251.540867    251.448069     11.480191
std      118.575708    108.166485    120.189769    120.150068      6.925641
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%      167.000000    171.000000    166.000000    165.000000      6.000000
50%      244.000000    242.000000    245.000000    245.000000     12.000000
75%      329.000000    312.000000    330.000000    331.000000     17.000000
max      790.000000    721.000000    765.000000    875.000000     23.000000

In [6]:
exp_clf101 = setup(data = train_df, target = 'game_result', session_id=123, silent=True)

In [63]:
compare_models()

In [47]:
model = create_model('lightgbm')

In [71]:
evaluate_model(model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'param…

In [48]:
res = predict_model(model, data = train_df)

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [33]:
pred_df = predict_model(model, data=test_df)
display(pred_df)

NameError: name 'test_df' is not defined

In [15]:
pred_df.describe()

,AB,AC,AD,score,round,Label
count,10634.000000,10634.000000,10634.000000,10634.000000,10634.0,10634.000000
mean,0.353481,0.347309,0.345054,10.403893,0.0,16.705473
std,0.785881,0.758648,0.761334,7.011044,0.0,9.774402
min,-0.810000,-1.000000,-1.300000,0.000000,0.0,0.000000
25%,0.000000,0.000000,0.000000,4.000000,0.0,4.000000
50%,0.000000,0.000000,0.000000,10.000000,0.0,23.000000
75%,0.290000,0.300000,0.290000,16.000000,0.0,23.000000
max,7.260000,7.020000,6.920000,23.000000,0.0,23.000000

In [10]:
def train(game_num):
    train_df = pd.read_csv('data/201901.csv')
    train_df = train_df.drop('Unnamed: 0', axis=1)
    train_df = train_df[train_df.game == 7]
    train_df = train_df.drop(['east_end', 'north_end', 'south_end', 'west_end', 'game'], axis=1)
    
#     学習開始
    exp_clf101 = setup(data = train_df, target = 'game_result', session_id=123, silent=True)
    model = create_model('gbc')
    os.makedirs('models', exist_ok=True)
    save_model(model, 'models/game' + str(game_num))

In [11]:
for game_num in range(8):
    train(game_num)

Transformation Pipeline and Model Succesfully Saved

# 予測実行オブジェクト

In [4]:
class Ranking:
    def predict(self, game_num):
        model = load_model('models/game' + str(game_num))
        df = pd.DataFrame(np.array([[250,250,250,250]]), columns=['east', 'south', 'west', 'north'])
        display(df)
        res = predict_model(model, data=df)
        display(res)

# テスト実行

In [5]:
ranking = Ranking()
ranking.predict(1)

Transformation Pipeline and Model Successfully Loaded

   east  south  west  north
0   250    250   250    250

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices