In [1]:
import numpy as np
import pandas as pd
from pycaret.classification import *

In [2]:
df = pd.read_csv('score.csv', header=None)
df = df.iloc[:, 9:14]
df = df.rename(columns={9:'AB', 10:'AC', 11:'AD', 12:'score', 13:'round'})

In [3]:
df = df[df['round'] == 0]
df = df.reindex(np.random.permutation(df.index)).reset_index(drop=True)
# 分割
ratio = 0.8
p = int(ratio * len(df)) # 分割点を計算
train_df = df.iloc[:p, :]
test_df = df.iloc[p:, :]

In [14]:
train_df.describe()

                 AB            AC            AD         score    round
count  42533.000000  42533.000000  42533.000000  42533.000000  42533.0
mean       0.362800      0.360443      0.357704     10.278560      0.0
std        0.804362      0.797831      0.789742      6.980767      0.0
min       -1.050000     -1.300000     -1.320000      0.000000      0.0
25%        0.000000      0.000000      0.000000      4.000000      0.0
50%        0.000000      0.000000      0.000000     10.000000      0.0
75%        0.300000      0.300000      0.300000     16.000000      0.0
max        9.220000      9.120000      9.220000     23.000000      0.0

In [4]:
exp_clf101 = setup(data = train_df, target = 'score', session_id=123, silent=True)

Setup Succesfully Completed!

In [5]:
# compare_models()

In [6]:
model = create_model('lr')

In [7]:
evaluate_model(model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'param…

In [8]:
pred_df = predict_model(model, data=test_df)
display(pred_df)

         AB    AC    AD  score  round  Label
42533  0.00  0.00  0.00     11      0     23
42534  0.00  0.00  0.00     22      0     23
42535  0.00  0.00  0.00      6      0     23
42536  0.00  0.00  0.00      7      0     23
42537  0.00  0.00  0.00     18      0     23
...     ...   ...   ...    ...    ...    ...
53162  1.04  1.04  1.04      5      0      0
53163  0.00  0.00  0.00     19      0     23
53164  1.04  1.04  1.04      1      0      0
53165  0.00  0.00  0.00      0      0     23
53166  0.00  0.00  0.00      7      0     23

[10634 rows x 6 columns]

In [15]:
pred_df.describe()

,AB,AC,AD,score,round,Label
count,10634.000000,10634.000000,10634.000000,10634.000000,10634.0,10634.000000
mean,0.353481,0.347309,0.345054,10.403893,0.0,16.705473
std,0.785881,0.758648,0.761334,7.011044,0.0,9.774402
min,-0.810000,-1.000000,-1.300000,0.000000,0.0,0.000000
25%,0.000000,0.000000,0.000000,4.000000,0.0,4.000000
50%,0.000000,0.000000,0.000000,10.000000,0.0,23.000000
75%,0.290000,0.300000,0.290000,16.000000,0.0,23.000000
max,7.260000,7.020000,6.920000,23.000000,0.0,23.000000